body {
  text-align: center;
  margin: 0;
  font-family: 'DM Sans' , sans-serif;
}
hr {
  border: dotted #eaf6f6 6px;
  width: 4%;
  border-bottom: none;
  margin: 1rem auto;
}
.top-section {
  background-color: #020202;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.top-container {
  display: inline-flex;
  align-items: center;
}

#profile-picture img {
  width: 10rem;
  border-radius: 50%;
  margin-top: 2rem;
}

h1 {
  font-size: 4rem;
  color: rgb(231, 83, 24);
  margin-bottom: 0;
}
h2 {
  font-size: 3rem;
  color: rgb(231, 83, 24);
  margin-top: 1rem;
}
.section-container {
  margin: 5rem 14rem;
}
.text {
  font-size: 2rem;
  color: black;
}
#skills-sectio {
  margin: 5rem 2rem;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  place-items: center;
}
.skills-list li {
  background-color: black;
  width: fit-content;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  color: rgb(240, 233, 230);
}
ul.skills-list {
  padding: 0;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  place-items: center;
  padding: 2rem;
  background-color: cadetblue;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.portfolio-list img {
  background-color: #020202;
  padding: 6px;
  border-radius: 4px;
  width: 10rem;
  height: 10rem;
}
.portfolio-list a {
  color: #020202;
  margin: 10px;
}
.btn {
  transition: all .5s ease;
  text-decoration: none;
  color: #eaf6f6;
  background-color: #0bd44e;
  padding: 8px;
  border-radius: 5px;
}
.btn:hover {
  display: inline-block;
  transform: scale(1.2);
  color: #e48585;
  background-color: blue;
}
.footer {
  background-color: #020202;
}
.footer-social-line {
  padding: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.icon {
  width: 40px;
  height: 40px;
  padding: 3px;
}
#icon-mail {
  width: 48px;
  height: 48px;
}

#copyright {
  color: rgb(231, 83, 24);
  padding: 10px;
  margin-bottom: 0;
}
@media (max-width: 475px) {
  .top-container {
    display: block;
  }
  .top-container h2 {
    padding-bottom: 2rem;
    margin-top: 0;
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 912px) {
  .section-container {
    margin: 1rem;
  }
}

@media (max-width: 774px) {
  .portfolio-list {
    display: block;
  }
}
